{% extends 'page-register.html' %}
{% load static %}

{% block title %}
                            <h4>Redefinir senha</h4>
{% endblock %}

{% block description %}
                                    <p class="lead">Email para redefinição de senha</p>
                                    {% if form.errors %}
                                        {% for error_messages in form.errors.values %}
                                            {% for error_message in error_messages %}
                                            <p>{{ error_message }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
{% endblock %}

{% block form %}
                            <form method="post" class="form-horizontal padding-top-mini">
                                {% csrf_token %}

                                {% for field in form %}
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="form-group">
                                    <div class="offset-sm-2 col-sm-10">
                                        <input type="submit" value="Enviar e-mail" class="bnt btn-iw">
                                    </div>
                                </div>


                            </form>

{% endblock %}